{% extends "layout.html" %}

{% block head %}
Select your bus
{% endblock head %}

{% block body %}
<form class="container" action="{{url_for('success')}}" method="POST">
    <div class="form-group">
      <label for="busesSelector">Bus routines</label>
      <select name="selector_bus" class="form-control" id="bus_selector">
    
        {% for bus in buses %}
        <option id="bus_num" value="{{ bus.id }}">{{ bus.origin }} to {{ bus.destination }} Rs.{{bus.price}} </option>
        {% endfor %}
      </select>
    </div><br>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
      </div>
      <input type="text" name="name" class="form-control" aria-describedby="inputGroup-sizing-lg">
    </div><br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
      </div>
      <input type="text" name="age" class="form-control" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="gender" value="1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline2" name="gender" value="2" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">Female</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline3" name="gender" value="3" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">Others</label>
      </div>
    <br><br>
    <div class="form-row">
            <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Submit</button>
    </div>
  </form>
{% endblock body %}