{% extends "layout.html" %}

{% block head %}
BUS BOOKING SYSTEM! <br><br>
<link href="/static/style/style.css" rel="stylesheet">
{% endblock head %}

{% block body %}
<section id="intro" class="clearfix">
    <div class="container">
        <div class="intro-info">
            <h2>We provide bus<br><span>Tickets</span><br>at low fare!</h2>
        </div>
    </div>
    <a href="/book" id="bookbutton" role="button" class="btn btn-outline-light">Book Tickets Now</a><br>
    <a href="#about" id="aboutbutton" role="button" class="btn btn-outline-light">About Us</a>
</section>

<section id="about">
<div class="container">
    <header class="section-header">
    <h3>About Us</h3>
    <p>We are world's largest online bus ticket booking service trusted by over 17 million happy customers globally. We offer bus ticket booking through our website,iOS and Android mobile apps for all major routes.</p>
    </header>
</div>
</section>
<footer>
    <p style="text-align: center">&#169; 2019 <a href="{{url_for('index')}}">WebApp</a> Made with ❤ by Jatin</p>
</footer>
{% endblock body %}
