{% extends "layout.html" %}

{% block head %}
BUS BOOKING SYSTEM! <br><br>
{% endblock head %}

{% block body %}
<div class="alert alert-success" role="alert">
    Ticket successfully Generated!
</div>
<div class="container">
<div class="card border-dark mb-3">
    <div style="text-align: center" class="card-header">
        BUS TICKET
    </div>
  <div class="card-body">
    <ul class="list-group list-group-flush"> 
    <li class="list-group-item"><b>Route: </b> <center> {{ user_bus.origin }} to {{ user_bus.destination }}</center></li> 
    <li class="list-group-item"><b>Duration</b> <center>{{ user_bus.duration }}hrs.</center></li> 
    <li class="list-group-item"><b>Price</b> <center>{{user_bus.price}}</li> 
    <li class="list-group-item"><b>Name</b> <center>{{ name }}</center></li> 
    <li class="list-group-item"><b>Age</b> <center>{{age}}</center></li> 
    <li class="list-group-item"><b>Gender</b> <center>{{ gender }}</center></li>

    <div style="text-align: center" class="card-footer text-muted">
        Please show this ticket to conductor when asked
    </div>
    <a href="{{ url_for('book') }}" class="btn btn-outline-dark">Book another</a><br>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Go back</a>
  </div>
</div>
</div>
{% endblock body %}